@import url('https://fonts.googleapis.com/css2?family=Acme&family=Carrois+Gothic&family=Poppins:wght@500&family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lato:wght@300&display=swap');

body{

    margin-top: 200px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.collapse li{
    margin: 0 20px;
    font-size:large;

}

.collapse li i{
    margin: 0 30px;
}


.d-flex i{
    color: black;

}

#container{
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 200px;
    

}

input{ 
    text-align: center;
    border: solid;
    border-color: black;
}

label{
    padding: 30px;
}
#submit{
    margin-top: 30px;
    background-color: #ff931e;
    height: 50px;
    padding-right: 30px;
    padding-left: 30px;
    border: null;
}



/*footer*/
footer{
    margin: 20px 20px 20px;
    width: 100%;
    height : 400px ;
    background-color: 	#c0c0c0; 
    color : black ;
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;
}



.col h5{
	font-size: 18px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.col h5::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:	#A61510;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.col img{
    text-align:center;
    margin:20px;
    display:flex
}


.col ul i{
    margin: 10px;
}

.col ul li{
    font-size: 4Opx;
}